.cspell-base.json
.cspell.json
.gitattributes
.github/
.gitignore
.prettierignore
.prettierrc.js
.vscode/
*.test.d.ts
*.test.js
dist/test/
src/
static/
test-repos/
tsconfig-base.json
tsconfig.json

dist/readme-examples/
dist/vite/
public/
index.html